body{
    font-family: 'lato',sans-serif;
    font-family: 'open sans',sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}
nav>ul{
    display: flex;
    align-items: center;

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font font-weight: 800;
}
.text-primary{
    color: #fd6e0a;
}
nav li{
    list-style: none;
    margin-right: 50px;
    /* align-items: center; */
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    background:#fd6e0a;
    border-radius:5px;
    border: 0px;
    margin: ;
    font-size: 20px;
    padding: 15px 35px;
    font-weight: 700;
    color: white;
}
nav ul li{
    /* align-items: center; */
}
.header{
    background-color: #fae0cd;
    background-image: url('../media/2fee7b9db300f3d7932499273b70dfc7.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    /* align-items: center; */
    display: flex;
    /* background-repeat: no-repeat; */
    /* background-position: bottom right; */
    /* background-size:100px; */
    justify-content: space-between;
}
.profile-pic{
    width: 350px;
}
.banner-des{
    max-width: 500px;
}
.banner-greeting{
    margin-bottom: 0px;
    font-size: 45px;
    color: #474747;

}
.banner-title{
    margin: 5px 0px;
    font-size: 85px;
    font-weight: 700;
}
.banner-p{
    margin-top: 20px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about{
    margin: 80px 0px;
    background-color: #fae0cd;
    padding: 80px;
    border-radius: 10px;
}
.section-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}